name: hot_vault
description: "Hot Vault - A Flutter application"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  go_router: ^15.1.2
  flutter_screenutil: ^5.9.3
  sqflite: ^2.4.2
  path_provider: ^2.1.5
  uuid: ^4.5.1
  intl: ^0.20.2
  image_picker: ^1.1.2
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/image/
    - assets/logo/
